.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Lora', serif;
    text-decoration: none;
    color: white;
}

.flex h4,
h5 {
    padding: 10px;
    text-align: center;
    color: white;
}

.flex a {
    text-decoration: none;
}

.flex a:hover {
    text-decoration: red underline;
}

.flex button {
    padding: 10px;
    background: black;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s linear;
}